#hi{
    color:antiquewhite;
    font-weight: bolder;
}
#h{
    color: antiquewhite;
}
#b{
    color: crimson;
}
body{
    background-color: rgb(172, 163, 163);
}
.container{
    background-color: rgb(172, 163, 163);
}